* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Helvetica Neue", "Arial";
  overflow: hidden;
}

header,
aside,
main,
footer,
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

header {
  background: #001f3f;
}

aside {
  background: #ff851b;
}

main {
  background: #7fdbff;
}

footer {
  background: #2ecc40;
}
