* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Helvetica Neue", "Arial";
}

header, aside, main, footer, nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

header {
  background: #001f3f;
}

aside {
  background: #FF851B;
}

main {
  background: #7FDBFF;
}

footer {
  background: #2ECC40;
}
