.page-wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: auto 1fr auto;
}
header {
  grid-area: header;
  display: flex;
}
.header-title {
  margin: auto;
}
.menu-button{
  background-color: palevioletred;
  width: 40px;
  height: 40px;
  justify-self: flex-start;
}
aside.left-margin {
  visibility:hidden;
  display:none;
}

main {
  grid-area: main
}

aside.right-margin {
  visibility: hidden;
  display: none;
}

footer {
  grid-area: footer
}

nav{
  visibility:hidden;
  display: none;
}

.hero{
  background-color: gray;
  height: 400px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: span 2;
  grid-row-start: main;
  z-index: 1;
}
main{
  z-index: 22;
  margin-top: 400px;
}
.collection-container {
  margin-top: -100px;
  background-color:white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.item{
  border: 1px solid;
  color: black;
  margin: 5px;
  height: 50px;
  min-width: 50px;
}
#main{
  overflow-x: scroll;
}
@media (min-width: 768px) {
  aside.right-margin {
    grid-area: right-margin;
    visibility: visible;
    display: block;
  }
  aside.left-margin {
    grid-area: left-margin;
    visibility: visible;
    display: block;
  }
  nav{
    height: 50px;;
    visibility: visible;
    display: block;
    background-color: palevioletred;
    grid-area: nav;
  }
  .page-wrapper {
    grid-template-areas:
      "left-margin header right-margin"
      "left-margin nav right-margin"
      "left-margin main right-margin"
      "left-margin footer right-margin";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr minmax(150px, 1176px) 1fr;
  }
  .menu-button{
    visibility: hidden;
    display: none;
  }
}
